@use '_variables.scss' as va; 

body {
  margin: 0;
  font-family: va.$font-family-primary;
  background-color: va.$primary-bg;
  color: va.$text-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
.app-container {
    padding-top: va.$spacing-xxl;
}
[id] {
    scroll-margin-top: va.$spacing-xl;

    scroll-margin-top: va.$spacing-xl + va.$spacing-md;
}