@use '../../styles/variables' as va;
@use 'sass:color' as color;

.aboutSection {
    padding: va.$spacing-xl * 2 va.$spacing-lg;
    color: va.$text-light;
    background-color: va.$secondary-bg;

    .contentWrapper {
        align-items: center;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        gap: va.$spacing-xl;

        @media (max-width: 992px) {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }
}


.title {
    color: va.$accent-color;
    font-size: 2rem;
    margin-bottom: va.$spacing-lg;
    text-align: left;

    @media (max-width: 992px) {
        text-align: center;
    }
}

.intro, .focus {
    color: va.$text-light;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: va.$spacing-md;
}

.featuresGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: va.$spacing-lg;
    margin-top: va.$spacing-xl;
    
    @media (max-width: 992px) {
        justify-items: center;
    }
}

.featureCard {
    background-color: va.$primary-bg;
    padding: va.$spacing-md;
    border-radius: 6px;
    text-align: center;
    border-left: 3px solid va.$accent-color;

    h3 {
        color: va.$text-light;
        font-size: 1.1rem;
        margin-bottom: va.$spacing-md;
    }
    p {
        color: va.$text-muted;
        font-size: 0.9rem;
    }
}

.featureIcon {
    font-size: 2rem;
    color: va.$accent-color;
    margin-bottom: va.$spacing-md;
}